<div class="root">
  <div class="inner">
    <div class="content">
      <h3 class="title">Requested page not found</h3>
      <p class="description">
        Page you are trying to open does not exist. You may have mistyped the address, or the page has been moved to
        another URL. If you think this is an error contact support.
      </p>
      <div class="group">
        <button class="button" (click)="navigateToHome()">Take me back to home page</button>
      </div>
    </div>
  </div>
</div>
