.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s;

  h1 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }

  .btn {
    border-radius: 5px;
    margin-right: 1em;
    padding: 10px 20px;
    font-weight: bold;
  }

  .btn-confirm {
    background-color: rgb(228, 192, 33);
    color: white;
  }

  .btn-secondary {
    background-color: rgb(141, 139, 139);
  }
}
